@import url('https://fonts.googleapis.com/css?family=Nunito');
@import './variables.css';
@import './pacman.css';
@import './menu.css';
@import './settings.css';


html, body {
  height: 100%;
} * {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

body {
  background-image: url('../asset/img/cartographer.webp');
  background-color: var(--background);
  color: var(--text);
  font-size: 18px;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: color 250ms, background-color 250ms;
}

/* #region header */
header {
  padding: .75em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
header .right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1em;
} header .center {
  text-align: center;
}
header #cbo-theme {
  display: none;
}
header i {
  cursor: pointer;
}
header i:hover {
  scale: 1.2;
}
header i.hidden {
  display: none;
}
/* #endregion */

main {
  display: grid;
  place-items: center;
  overflow: auto;
}

/* #region footer */
footer {
  min-height: 4em;
  padding: .75em;
  display: grid;
  gap: .75em;
  grid-template-columns: repeat(3, 1fr);
}
footer .center {
  width: 100%;
  display: grid;
}
footer .right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: .75em;
}
@media (max-width: 850px) and (min-width: 451px) {
  footer {
    grid-template-columns: auto 1fr;
  }
  footer .right {
    grid-column-start: 2;
  }
}
@media (max-width: 450px) {
  footer {
    grid-template-columns: unset;
  }
}
/* #endregion */



.button {
  padding: .25em 1.5em;
  background-color: var(--background-t);
  color: var(--text);
  border: solid 1px var(--text);
  border-radius: .5em;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: 250ms;
} .button:hover {
  letter-spacing: .2em;
  background-color: var(--background-t-light);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background: none;
  opacity: 0;
  animation: ease-out 250ms fade-in forwards;
} dialog > * {
  scale: 0;
  animation: ease-out 250ms pop-in forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
} @keyframes pop-in {
  from {
    scale: 0;
  } to {
    scale: 1;
  }
}
